

.uk-contrast {
  
  /* Active */
  text-shadow: none;
}
.uk-contrast a:not([class]),
.uk-contrast .uk-link {
  color: #af9a7d;
  text-decoration: none;
}
.uk-contrast a:not([class]):hover,
.uk-contrast .uk-link:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.uk-contrast .uk-button-link,
.uk-contrast .uk-button-link:hover,
.uk-contrast .uk-button-link:active,
.uk-contrast .uk-button-link:focus {
  background: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}
.uk-contrast .uk-button-link {
  color: #af9a7d;
}
.uk-contrast .uk-button-link:hover,
.uk-contrast .uk-button-link:focus {
  color: #ffffff;
}
.uk-contrast .uk-button-link:active,
.uk-contrast .uk-button-link.uk-active {
  color: rgba(255, 255, 255, 0.5);
}




.tm-block-fullwidth {
  padding: 0;
}
.tm-block-fullwidth > .uk-container {
  max-width: 100%;
  padding: 0;
  background-color: #000000;
}
 